
.logo {
    color: whitesmoke;
    text-align: center;
    /*font-size: xx-larger;*/
    padding-top: 20px;
}

.deepak {
    background-image: url(1233.gif);
    height: 800px;
    width: 100%;
}


/*@import url(https://fonts.googleapis.com/css?family=lato:400,700,300);
body {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
    background: -webkit-linear-gradient(to right, #514A9D, #04AA6D);
    background: linear-gradient(to right, #514A9D, #04AA6D);
    display: flex;
    align-items: centre;
    justify-content: centre;
    min-height: 100vh;
}*/


.topnav {
    background-color: rebeccapurple;
    overflow: ;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 75.5px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #04AA6D;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

li {
    height: 80px;
    font-size: x-large;
    padding: 10px 30px;
    position: relative;

}


.td {
    background-color: blueviolet;
}