.com{
    border: 2px solid black;
    height: 120px;
    width: 100%;
    text-align: center;
    background-color: #04AA6D;

}
.comp{
    border: 2px solid black;
    height: 600px;
    width: 100%;
    text-align: center;

}
.pp{
    margin-top: 10%;
    background-color: lightseagreen;
    margin-left: 30%;
    margin-right: 30%;
}